body{
    background-color: #6CE8C9;
    font-family: 'Dancing Script', cursive;
}
main{
    border: 1px solid grey;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    background-color: #FCFCFC;
    opacity: 0.95;
    box-shadow: 5px 10px 15px grey;
    
}
.container{
    display: flex;
    position: relative;
    width: 350px;
    margin: 0 auto;
}
section{
    display:flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
button, input{
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
input{
    box-sizing: border-box;
    height: 30px;
    width:350px;
    border: 1px solid grey;
    border-radius:3px;
}
button{
    height:30px;
    position: absolute;
    right:0;
    background-color: #88FF77;
    border:1px solid grey;
    border-radius: 3px;
}
.bin,.check{
    width: 20px;
    height:20px;
}
.checked{
    text-decoration: line-through;
}
ul{
    padding-left: 0px;
    align-items: center;
}
li{
    list-style-type: none;
    position: relative;
    padding:10px 8px;
    background-color: #E6E6E6;
    line-height: 20px;
    min-height:20px;
    border: 1px solid #BFBFBF;
    box-shadow: 1px 1px 5px #BFBFBF;
    margin-bottom: 5px;
    font-size: 20px;
}
li:nth-child(odd){
    background-color: #EEEEEE;
}
img{
    position: absolute;
    right: 3px;
    top:0px;
    bottom:0px;
    margin: auto;
}
.bin{
    right:30px;
}